@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --green: #34e06c;
  --sky-blue: #26ebeb;
  --green-aqua: #34e0a7;
  --black: #0c2a17;
  --white: #daffde;

  --font: 'Lato', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--black);
  font-family: var(--font);
}

html {
  font-size: 16px;
}

/* Navbar */
nav {
  position: sticky;
  width: 100%;
  background-color: var(--green);
  padding: 1rem 3rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 40%;
  height: 40px;
}

nav ul li .link {
  color: var(--black);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
nav ul li .link:hover {
  text-decoration: underline;
  color: #16482a;
}

@media (max-width: 600px) {
  nav ul {
    width: 100%;
  }
}
/* End of navbar */

main {
  background-color: var(--green-aqua);
}

/* Banner */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
}

.banner h1 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: var(--white);
  padding: 2rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 600px) {
  .banner h1 {
    font-size: 2.3rem;
  }
}
/* End of banner */

/* Events */
.events {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}
.events h2 {
  font-size: 1.8rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.events__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.events__container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.events__container .card img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.events__container .card h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 900px) {
  .events {
    padding: 1.5rem 0;
  }
  .events h2 {
    margin: 0;
  }
  .events__container {
    flex-direction: column;
  }

  .events__container .card {
    width: 100%;
  }
  .events__container .card img {
    margin: 1.5rem;
  }
  .events__container .card h3 {
    display: none;
  }
}
/* End of events */

/* Quote */
.quote {
  background-color: var(--sky-blue);
  padding: 2rem;
}

.quote h2 {
  text-align: center;
  font-size: 2.2rem;
}
/* End of quote */
