* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body {
  margin: 2rem 10%;
}

.container {
  width: 100%;
  padding: 1rem;
  border: 2px solid #727272;
  margin-bottom: 0.5rem;
}

/* Colors */

.colors__container {
  width: 100%;
}

.color {
  width: 25%;
  padding: 1rem;
  color: #000000;
  display: inline-block;
  margin: 0.7%;
  text-align: center;
}
#purple {
  background-color: #b365e0;
}
#mint {
  background-color: #65e09f;
}
#orange {
  background-color: #e0b565;
}
#d-green {
  background-color: #4d6357;
  color: #ffffff;
}

/* Fonts */
.fonts__container {
  width: 100%;
}

.font {
  width: 48%;
  display: inline-block;
  margin: 0.5%;
}

.title {
  font-weight: 700;
}
.subtitle {
  font-weight: 500;
}
.text {
  font-weight: 400;
}
.quote {
  font-weight: 300;
  text-decoration: underline;
}
.link {
  font-weight: 400;
  font-style: italic;
}
.bold {
  font-weight: 700;
}

#oswald {
  font-family: 'Oswald', sans-serif;
}
#rubik {
  font-family: 'Rubik', sans-serif;
}
#roboto {
  font-family: 'Roboto Slab', serif;
}

/* Text Styles */
.element {
  width: 100%;
  margin-bottom: 1rem;
}

#main-heading {
  font-size: 40px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0.5rem;
}

#sub-heading {
  font-size: 25px;
  font-weight: 500;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0.5rem;
}

#p-text {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 0.5rem;
}

#p-bold {
  font-size: 16px;
  font-weight: 900;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  margin-bottom: 0.5rem;
}

#p-quote {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 0.5rem;
}
